@import "./variables.scss";

.authBackground {
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 100px;
   background-color: #EBEBEB;

   .authContainer {
      width: 1300px;
      min-width: 500px;
      height: 700px;
      background-color: #ffffff;
      display: flex;
      position: relative;
      font-family: $Fira;

      .opt-top {
         position: absolute;
         width: 700px;
         height: 50px;
         border-radius: 10px;
         box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
         background-color: #fff;
         opacity: 70%;
         top: 60px;
         left: 50%;
         transform: translate(-50%, -50%);
         z-index: 5;
         display: flex;
         align-items: center;
         justify-content: space-around;

         #inputLogin {
            appearance: none;
            width: 100%;
            height: 23px;
            position: absolute;
            cursor: pointer;

            &:checked {
               border-bottom: 2px solid black;
            }
         }

         #inputRegister {
            appearance: none;
            width: 100%;
            height: 23px;
            position: absolute;
            cursor: pointer;

            &:checked {
               border-bottom: 2px solid black;
            }
         }

         img {
            position: absolute;
         }

         .button-login {
            margin-left: 100px;
            cursor: pointer;
            width: 40px;
            position: relative;
         }

         .button-register {
            margin-right: 100px;
            cursor: pointer;
            width: 65px;
            position: relative;
         }
      }

      .auth-left,
      .auth-right {
         width: 50%;
         height: 100%;
      }

      .auth-left {
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
         position: absolute;
         left: 0;
         z-index: 1;

         h1 {
            font-size: 2.8rem;
            font-weight: 600;
         }

         h3 {
            font-size: 1rem;
            font-weight: 300;
            letter-spacing: 1px;
            margin-top: 10px;
         }

         .name-box {
            display: flex;
            flex-direction: column;

            label {
               margin: 10px 0px;
               font-weight: 400;
               font-size: 1.1rem;
               margin-top: 40px;
            }

            input {
               border-radius: 4px;
               border: 1px solid #00000025;
               height: 37px;
               width: 400px;
               padding-left: 10px;

               &::placeholder {
                  letter-spacing: 1px;
                  opacity: 30%;
               }
            }
         }

         .password-box {
            display: flex;
            flex-direction: column;

            label {
               margin: 10px 0px;
               font-weight: 400;
               font-size: 1.1rem;
            }

            input {
               border-radius: 4px;
               border: 1px solid #00000025;
               height: 37px;
               width: 400px;
               padding-left: 10px;
               margin-bottom: 40px;

               &::placeholder {
                  letter-spacing: 1px;
                  opacity: 30%;
               }
            }
         }

         .info-box {
            display: flex;
            flex-direction: row;

            #radio {
               appearance: none;
               width: 15px;
               height: 15px;
               border: 1px solid rgba(0, 0, 0, 0.274);
               border-radius: 3.5px;
               cursor: pointer;

               &:checked {
                  background-color: black;
                  border-radius: 3.5px;
                  border: 3px solid rgb(153, 153, 153);
               }
            }

            label {
               font-size: .9rem;
               opacity: 50%;
               margin-right: 25px;
               margin-left: 10px;
            }

            p {
               font-size: .9rem;
               margin-left: 25px;
               cursor: pointer;
            }
         }

         .button-login {
            text-decoration: none;
            background-color: black;
            color: #ffff;
            width: 400px;
            height: 37px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px 0px;
         }

         p {
            font-weight: 300;
         }

         span {
            font-weight: 500;
            cursor: pointer;
         }
      }

      .auth-right {
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
         position: absolute;
         right: 0;
         z-index: 1;

         h1 {
            font-size: 2.8rem;
            font-weight: 600;
         }

         h3 {
            font-size: 1rem;
            font-weight: 300;
            letter-spacing: 1px;
            margin-top: 10px;
         }

         .name-box {
            display: flex;
            flex-direction: column;

            label {
               margin: 10px 0px;
               font-weight: 400;
               font-size: 1.1rem;
               margin-top: 40px;
            }

            input {
               border-radius: 4px;
               border: 1px solid #00000025;
               height: 37px;
               width: 400px;
               padding-left: 10px;

               &::placeholder {
                  letter-spacing: 1px;
                  opacity: 30%;
               }
            }
         }

         .email-box {
            display: flex;
            flex-direction: column;

            label {
               margin: 10px 0px;
               font-weight: 400;
               font-size: 1.1rem;
            }

            input {
               border-radius: 4px;
               border: 1px solid #00000025;
               height: 37px;
               width: 400px;
               padding-left: 10px;

               &::placeholder {
                  letter-spacing: 1px;
                  opacity: 30%;
               }
            }
         }

         .password-box {
            display: flex;
            flex-direction: column;

            label {
               margin: 10px 0px;
               font-weight: 400;
               font-size: 1.1rem;
            }

            input {
               border-radius: 4px;
               border: 1px solid #00000025;
               height: 37px;
               width: 400px;
               padding-left: 10px;
               margin-bottom: 20px;

               &::placeholder {
                  letter-spacing: 1px;
                  opacity: 30%;
               }
            }
         }

         .info-box-register {
            display: flex;
            flex-direction: row;

            #radio {
               appearance: none;
               width: 15px;
               height: 15px;
               border: 1px solid rgba(0, 0, 0, 0.274);
               border-radius: 3.5px;
               cursor: pointer;

               &:checked {
                  background-color: black;
                  border-radius: 3.5px;
                  border: 3px solid rgb(153, 153, 153);
               }
            }

            label {
               font-size: .9rem;
               opacity: 50%;
               margin-left: 10px;
            }

            p {
               font-size: .9rem;
               margin-left: 25px;
               cursor: pointer;
            }
         }

         .button-login {
            text-decoration: none;
            background-color: black;
            color: #ffff;
            width: 400px;
            height: 37px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px 0px;
         }

         p {
            font-weight: 300;
         }

         span {
            font-weight: 500;
            cursor: pointer;
         }
      }

      .container-img {
         background-image: url(../images/login-bg.png);
         background-image: no-repeat;
         background-size: cover;
         width: 50%;
         height: 100%;
         position: absolute;
         right: 0;
         z-index: 2;

         .container-right {
            background-color: #fff;
            width: 80%;
            height: 200px;
            opacity: 70%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            text-align: center;
            font-weight: 500;
         }
      }
   }
}