@import '../styles/variables.scss';

.side-bar-fixed {
   width: 180px;
   margin-right: 25px;
   height: 100vh;
   position: relative;
   transition: all 0.5s;
}

.side-bar-fixed.actived {
   width: 4rem;
}

.side-bar {
   width: 180px;
   height: 100vh;
   position: fixed;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #ffff;
   box-shadow: 1px 0px 8px rgba(0, 0, 0, 0.50);
   transition: all 0.5s;

   .btnOpt {
      position: absolute;
      right: -13px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: $primaryColor;
      top: 88px;
      cursor: pointer;
      z-index: 2;

      .btnTrigger {
         content: '';
         width: 25px;
         height: 25px;
         cursor: pointer;
         background-color: red;
         z-index: 3;
         opacity: 0;
         transition: all 0.5s;
      }

      .btnMenu {
         content: '';
         background-color: $primaryColor;
         position: relative;
         z-index: 2;
         width: 15px;
         height: 3px;
         border-radius: 2rem;
         bottom: calc(25px/2);
         left: 50%;
         transform: translateX(-50%);
         transition: all 0.5s;
      }

      .btnMenu::after {
         content: '';
         background-color: #ffff;
         position: absolute;
         width: 15px;
         height: 3px;
         border-radius: 2rem;
         top: 0.3rem;
         transform: translateY(-0.3rem) rotate(45deg);
         transition: all 0.5s;
      }

      .btnMenu::before {
         content: '';
         background-color: #ffff;
         position: absolute;
         width: 15px;
         height: 3px;
         border-radius: 2rem;
         top: -0.3rem;
         transform: translateY(0.3rem) rotate(-45deg);
         transition: all 0.5s;
      }
   }

   .btnOpt::after {
      content: '';
      position: absolute;
      right: 25px;
      top: 12px;
      z-index: 1;
      width: calc(6rem + 15rem);
      background-color: #b7b7b74f;
      height: 2px;
      pointer-events: none;
   }

   .logo-container {
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
      transition: all 0.5s;

      img {
         width: 100px;
      }
   }

   .side-bar-routes {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      a {
         text-decoration: none;
         width: 85%;
         height: 40px;
         margin: 15px 0px;
         border-radius: 7px;
         display: flex;
         align-items: center;
         font-family: $Roboto;
         font-size: .9rem;
         color: #b7b7b7;
         transition: all .2s;
         border: 2px solid transparent;
   
         &:hover {
            border: 2px solid $mainColor;
            margin-left: 10px;
         }
   
         p {
            transition: all 0.2s;
         }
   
         img {
            width: 25px;
            margin: 0px 10px;
         }
      }
   
      a.active {
         background-color: $mainColor;
         color: #979797;
      }
   }

   .side-bar-bottom {
      width: 100%;
      height: 200px;
      padding-top: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: .5s all;
      position: relative;

      h2 {
         color: #B7B7B7;
         font-family: $Roboto;
         font-size: .9rem;
         text-align: center;
         font-weight: 300;
         margin-bottom: 15px;
         position: absolute;
         top: 40px;
         width: 150px;
      }

      a {
         text-decoration: none;
         margin: 15px 0px;
         font-family: $Roboto;
         font-size: .8rem;
         color: #b7b7b7;
         border-bottom: transparent 1px solid;

         &:hover {
            border-bottom: #B7B7B7 1px solid;
         }
      }
   }
}

.side-bar.active {
   width: 4rem;

   a {
      pointer-events: none;
   }

   .btnOpt.active {
      .btnMenu {
         background-color: #ffff;
         height: 2px;
      }

      .btnMenu::before {
         transform: translateY(0rem) rotate(0deg);
         height: 2px;
      }

      .btnMenu::after {
         transform: translateY(0rem) rotate(0deg);
         height: 2px;
      }
   }

   p {
      pointer-events: none;
      width: 0px;
      opacity: 0;
   }

   .side-bar-bottom {
      opacity: 0;

      h2 {
         pointer-events: none;
      }
   }
}