//colors
$mainColor: #F3FFF8;
$primaryColor: #CBFFE1;
$secondaryColor: #4CC27B;
$gray: #b7b7b7;
$grayDark: #636363;


//font family
$Roboto: 'Roboto', sans-serif;
$Sofia: 'Sofia Sans', sans-serif;
$Fira: 'Fira Sans', sans-serif;